@tailwind base;
@tailwind components;
@tailwind utilities;


  
  @font-face {
    font-family: 'Poppins';
    src: url('/fonts/poppins-latin-700.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
